/*column*/
.card{

    margin:10px 10px 10px 10px;
    height: 80%;
}

.card-img-top{

    border: dot-dash #005cbf;

    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-title{

    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;


}
#listPokemon{
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}
